<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-button-toggle #buttonMenu (click)="onToggleSideNav(buttonMenu.checked)"><mat-icon>menu</mat-icon></mat-button-toggle>
    <span>{{constantes.title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <i class="material-icons">more_vert</i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>vpn_key</mat-icon>
        <span>Auntenticarse</span>
      </button>
      <button mat-menu-item>
        <mat-icon>face</mat-icon>
        <span>Registrarse</span>
      </button>
      <button mat-menu-item>
        <mat-icon>description</mat-icon>
        <span>Editar Perfil</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
