<mat-table #table [dataSource]="actividades">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell fxFlex="100px"  *matHeaderCellDef></mat-header-cell>
      <mat-cell fxFlex="100px"  *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.select"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell fxFlex="300px" *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell fxFlex="200px"  *matCellDef="let element"> {{element.nombre}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (click)="row.highlighted = !row.highlighted" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
  </mat-table>
