.example-card {
  margin:10px;
  max-width: 200px;
  background-color: #FAFAFA;
  max-height: 250px;
}

.example-div {
  min-height: 75vh;
  height: 75vh;
  overflow: auto;
}

.example-card:hover {
  background-color: #fafafa;
  border: 2px solid #1d68a7;
  cursor: pointer;
}


.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 80%;
}

.search_field{
  margin-left: 10px;
  margin-top:10px;
}

mat-card-actions{
  margin-top: -20px;
}

app-scroll-container {
  flex-grow: 0;
  flex-shrink: 0;
}

app-scroll-container.full {
  flex-basis: auto;
}

app-scroll-container.part {
  flex-basis: 200px;
}

