<mat-card class="example-card">
  <div class="example-container">
    <form class="example-container" [formGroup]="trabajadorForm" #customLoadingTemplate>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Nombre" [(ngModel)]="trabajador.nombre" formControlName="nombre" maxlength="50" autofocus>
            <mat-error *ngIf="nombre.invalid">{{getErrorNombre()}}</mat-error>
          </mat-form-field>

        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Apellidos" [(ngModel)]="trabajador.apellidos" formControlName="apellidos" maxlength="50" autofocus>
            <mat-error *ngIf="nombre.invalid">{{getErrorApellidos()}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-card-actions align="right">
        <button mat-flat-button color="primary" *ngIf="!editando" (click)="insertar()" [disabled]="!trabajadorForm.valid">
          <mat-icon>add</mat-icon>
          Agregar
        </button>
        <button mat-flat-button color="primary" [disabled]="!trabajadorForm.valid" (click)="insertar(true)">
          <mat-icon>done</mat-icon>
          Aceptar
        </button>
        <button mat-flat-button color="primary" (click)="cancelar()">
          <mat-icon>cancel</mat-icon>
          Cancelar
        </button>
      </mat-card-actions>
    </form>
  </div>
  <ngx-loading [show]="showLoading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

</mat-card>

