<mat-grid-list style="padding-top:25px; margin-bottom: 10px" cols="2" rowHeight="60px">
  <mat-grid-tile>
      <app-search style="width: 100%; margin-left: 20px" (changeText)="filter($event)" (cleanText)="reload()"></app-search>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-paginated [limit] = "30" [totalRecords]= "totalRecords" (next) = "nextPage($event)"
                   [totalPages] ="totalPages" [numberPage]="currentPage" [numberTo]="numberTo" [numberFrom]="numberFrom"
                   [disabledFastRight]="!isNextPage"  [disabledRight]="!isNextPage"  [disabledFastLeft]="!isLastPage"  [disabledLeft]="!isLastPage"
                   ></app-paginated>
  </mat-grid-tile>
</mat-grid-list>
<div  #customLoadingTemplate class="example-div">
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile *ngFor="let trabajador of trabajadores">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title style="margin-left: -20px">{{trabajador.nombre}}</mat-card-title>
          <mat-card-subtitle style="margin-left: -20px">{{trabajador.cargo}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="trabajador.imagen | noimage" height="160" alt="Photo of a Shiba Inu">
        <mat-card-actions align="right">
          <button color="primary" mat-icon-button aria-label="Example icon-button with a heart icon"
                  (click)="editar(trabajador)">
            <mat-icon>launch</mat-icon>
          </button>
          <button color="warn" mat-icon-button aria-label="Example icon-button with a heart icon"
                  (click)="openDialogDelete(trabajador)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <ngx-loading [show]="showLoading" [config]="{ backdropBorderRadius: '3px' }"
               [template]="customLoadingTemplate"></ngx-loading>
  <app-favbutton (showActive)="obtenerTodos($event)" (mostrarNueva)="nuevo()" color="primary"></app-favbutton>
</div>
