.example-button-row  {
  text-align: end;
  margin-bottom: 10px;
}
.example-button-row a {
  margin-right: 8px;
}

mat-toolbar{
  background-color: transparent;
}

.x-input{
  width: 40px;
  margin-right: 10px;
}

.x-input mat-placeholder{
  font-weight: bold;
  font-size: 12px;
}

.x-text{
  width: 50px;
  margin-left: 10px;
}

span{
  font-weight: bold;
  font-size: 12px;
}

mat-toolbar-row{
  background-color: #e1f1f9;
  margin-top: 4px;
  height: 50px;
  border-radius: 20px;
  border: 3px solid #efefef;
}



