<mat-card class="example-card">
  <div class="example-container">
    <form class="example-container" [formGroup]="reporteForm" #customLoadingTemplate>
      <app-comboperiodos class="x-select-periodos"></app-comboperiodos>
          <mat-form-field class="x-input">
            <input matInput [matDatepicker]="picker" [max]="fechaFin" required placeholder="Fecha Inicio"
                   [(ngModel)]="fechaInicio" (dateChange)="filterFecha()" formControlName="fechaInicio">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="x-input">
            <input matInput [matDatepicker]="picker1" [min]="fechaInicio" [max]="fechaActual" required
                   placeholder="Fecha Fin" [(ngModel)]="fechaFin" (dateChange)="filterFecha()" formControlName="fechaFin">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
    </form>
  </div>
</mat-card>
