.example-card {
  min-height: 82vh;
  height: 82vh;
  overflow: auto;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 80%;
}

.x-input{
  width: 100%;
}

.x-select-periodos{
  display: flex;
  flex-direction: column;
  width: 100%;
}

