<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)] = "opened">
      <div class="x-image-side">
        <img mat-card-image src="../../../../assets/images/logo.jpg" alt="Usuario">
      </div>
        <mat-nav-list>
          <mat-list-item routerLink="1" routerLinkActive="active" >
            <mat-icon mat-list-icon>home</mat-icon>
            <div fxFlex="10"></div>
            <div class="sidenav-item">
              <h5 class="lead">Inicio</h5>
            </div>
          </mat-list-item>
            <mat-list-item routerLink="/trabajadores" routerLinkActive="active" >
                <mat-icon mat-list-icon>person</mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Trabajadores</h5>
                </div>
            </mat-list-item>
            <mat-list-item routerLink="2" routerLinkActive="active">
                <mat-icon mat-list-icon>local_hospital</mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Accidentes</h5>
                </div>
            </mat-list-item>
            <mat-list-item routerLink = "/cargos" routerLinkActive="active">
                <mat-icon mat-list-icon>supervisor_account</mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Cargos</h5>
                </div>
            </mat-list-item>
          <mat-list-item routerLink = "/actividades" routerLinkActive="active">
            <mat-icon mat-list-icon>transfer_within_a_station</mat-icon>
            <div fxFlex="10"></div>
            <div class="sidenav-item">
              <h5 class="lead">Actividades</h5>
            </div>
          </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
