mat-sidenav-container{
    height: 100%;
}

mat-sidenav, mat-sidenav-content{
    padding: 16px;
}

mat-sidenav{
    width: 100%;
}

.x-text-menu{
   padding-left: 55px;
   font-family: "Arial Black";
    font-weight: bold;
    text-decoration: underline;
}

.x-image-side{
  text-align: center;
}

.mat-card-image{
  width: 130px;
  height: 100px;
}
